.container-header{
    width: 1200px;
    margin: 0 auto;
    @extend %flex-align;
}
.header-border-bottom{
    border-bottom: 1px solid #ECECEC;
}
.list-header{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    @extend %flex-align;
    gap: 50px;
}
.logo{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-family: 'Raleway';
    padding-top: 24px;
    padding-bottom: 25px;
    @extend %flex-align;
}
.logo-header{
    color: #000000;
    @extend %flex-align;
}
.navigation{
    @extend %flex-align;
    transition: color 250ms linear;
}
.list-menu{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    @extend %flex-align;
    gap: 50px;
    margin-left: 93px;
    transition: color 250ms linear;
}
.menu{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    @extend %flex-align;
    transition: color 250ms linear;
    position: relative;
    &.active::after{
        content: "";
        width: 100%;
        height: 4px;
        background-color: #2196F3;
        position: absolute;
        bottom: 0;
        display: block;
        left: 0;
        border-radius: 2px;
    }
    &:hover{
        color: var(--btns-links-color);
    }
    &:active{
        color: var(--btns-links-color);
    }
    &:focus{
        color: var(--btns-links-color);
    }
}
.list-contacts{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    @extend %flex-align;
    margin-left: auto;
}
.header-contacts-link{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    @extend %flex-align;
    justify-content: center;
    margin-left: auto;
    margin-right: 30px;
    color: #757575;
    transition: color 250ms linear;
    &:hover{
        fill: var(--btns-links-color);
        color: var(--btns-links-color);
    }
    &:focus{
        fill: var(--btns-links-color);
        color: var(--btns-links-color);
    }
}
.header-contacts-icons{
    margin-right: 10px;
    color:#757575;
    transition: fill 250ms linear;
}
